.bg-image {
    background-image: url("images/techbg.jpg");
    background-repeat: no-repeat;
}

.hello_header {
    text-shadow: 2px 2px;
}

.title_text {
    color: gray;
    font-size: 2rem;
}

.box_style1 {
    background: #fff;
		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
		text-align: center;
		padding: 2em;
        min-height: 50px;
    
}

.round {
    border-radius: 50%
}

.con_pad {
    padding: 25px;
}